<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') -%>

  <body class="d-flex flex-column min-vh-100">
    <div class="container d-flex justify-content-between">
      <h1>StickyPad</h1>
      <div>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Add a Sticky Note
        </button>
        <a class="btn btn-danger" role="button" href="/logout">Logout</a>
      </div>
    </div>

    <!-- COLLAPSE AREA FOR NEW NOTE -->
    <h3 class="container"><%= user.userName %> has <%= left %> Sticky Notes</h3>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form class="container" action="/notes/createNote" method='POST'>

          <div class="mb-2 form-floating">        
            <input type="text" class="form-control form-control-sm" id="noteTitle" placeholder="Pick up Paycheck from Boss..." name="title">
            <label class="form-label" for="noteTitle">Note Title</label>
          </div>
    
          <div class="mb-2 form-floating">
            <textarea class="form-control" placeholder="I was pretty hungover yesterday, but I think I remember where I work." rows="3" name="noteItem" id="noteItem"></textarea>
            <label  class="form-label" for="noteItem">What is your note?</label>
          </div>
    
          <div class="mb-2">
            <button type="submit" class="btn btn-primary" value="Submit">Stick It!</button>
          </div>
        </form>
      </div>
    </div>


    <!-- NOTES -->
    <div class="stickyNotes container  border border-primary mb-5">
        <div class="row g-2">
          <% notes.forEach( el => { %>
          <div class="col-6 col-md-4">
            <div class='card border border-primary mb-3 h-100'>
              <div class="card-body position-relative" data-id='<%=el._id%>'>
                <h5 class='card-title <%= el.completed === true ? 'completed' : 'not'%>'><%= el.title %></h5>
                <p class='card-text <%= el.completed === true ? 'completed' : ''%>'><%=el.note %></p>
                <button type="button" class="btn btn-danger btn-sm del position-absolute bottom-0 end-0 mx-1 mb-1">
                  Delete
                </button>
              </div>
            </div>
          </div>
          <% }) %> 
        </div>           
    </div>
    <%- include('partials/footer') -%>
    <%- include('partials/script') -%>
  </body>
</html>


